body {
    font-family: Arial;
    font-size: 1em;
    color: navy;
    font-weight: bold;
}

nav {
    background: lightsteelblue;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.sidebar{
    background: lightpink;
    height: 700px;
    width: 20%;
    float: left;
}

#conteneur {
    background: lightgreen;
    height: 700px;
    width: 60%;
    float: left;
}

.aside{
    background: lightblue;
    height: 700px;
    width: 20%;
    float: left;
}