<form #f="ngForm" novalidate
      *ngIf="active"
      (ngSubmit)="submitContact()"> <!-- Privilégier le ngSubmit qui contient le preventDefault -->

  <!-- Grâce à l'identifiant #form plus haut, je peux connaitre l'état de validation de mon formulaire... -->

  <h5 class="text-center m-4">
    Ajouter un Contact
  </h5>

  <pre>
    Form is valid : {{ f.valid }}
    {{ nouveauContact | json }}
  </pre>

  <div class="form-group">
    <input type="text" name="name" required
           placeholder="Saisissez votre nom complet..."
           class="form-control"
           [class.is-invalid]="name.invalid && name.touched"
           [class.is-valid]="name.valid && name.touched"
           [(ngModel)]="nouveauContact.name"
           #name="ngModel">
    <div class="invalid-feedback">
      Vous devez saisir votre nom complet.
    </div>
  </div>

    <div class="form-group">
      <input type="text" name="username" required
             placeholder="Saisissez votre nom d'utilisateur..."
             class="form-control"
             [class.is-invalid]="username.invalid && username.touched"
             [class.is-valid]="username.valid && username.touched"
             [(ngModel)]="nouveauContact.username"
             #username="ngModel">
      <div class="invalid-feedback">
        Vous devez saisir votre nom d'utilisateur.
      </div>
    </div>

    <div class="form-group">
      <input type="email" name="email" required
             placeholder="Saisissez votre mail..."
             class="form-control"
             [class.is-invalid]="email.invalid && email.touched"
             [class.is-valid]="email.valid && email.touched"
             [(ngModel)]="nouveauContact.email"
             #email="ngModel">
      <div class="invalid-feedback">
        Vous devez saisir votre email.
      </div>
    </div>

    <button type="submit"
            [disabled]="invalid"
            class="btn btn-block btn-primary">
      Ajouter le Contact
    </button>

</form>
