<div class="container p-0">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h1><a class="navbar-brand" href="#">MyToDoApp</a></h1>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <app-add-task (newTaskEvent)="newTask($event)"></app-add-task>
    </nav>
  </header>
  <div class="row m-0">
    <div class="col">
      <div class="todolist not-done">
        <!-- Les tâches à faire -->
        <h1>To Do</h1>
        <hr>
        <ul id="sortable" class="list-unstyled">
          <li class="ui-state-default"
              *ngFor="let task of tasks | taskFilter : false"
          >
            <div class="checkbox">
              <label>
                <input type="checkbox" (click)="taskIsDone(task)">
                {{ task.name }}
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col todo-right">
      <div class="todolist">
        <!-- Les tâches faites -->
        <h1>Done</h1>
        <ul id="done-items" class="list-unstyled">
          <li *ngFor="let task of tasks | taskFilter : true">
            {{ task.name }}
            <button type="button" class="close"
            (click)="removeTask(task)">
              <span>&times;</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
