body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.conteneur {
    max-width: 1200px;
    margin: 0 auto;
}
.ligne {
    clear: both;
    float: inherit;
}

.col-1 {width: 8.33%; float: left;}
.col-2 {width: 16.66%; float: left;}
.col-3 {width: 24.99%; float: left;}
.col-4 {width: 33.32%; float: left;}
.col-5 {width: 41.65%; float: left;}
.col-6 {width: 49.98%; float: left;}
.col-7 {width: 58.31%; float: left;}
.col-8 {width: 66.64%; float: left;}
.col-9 {width: 74.97%; float: left;}
.col-10 {width: 83.3%; float: left;}
.col-11 {width: 91.63%; float: left;}
.col-12 {width: 100%; float: left;}

.col-marge-1 {margin-left: 8.33%;}
.col-marge-2 {margin-left: 16.66%;}
.col-marge-3 {margin-left: 24.99%;}
.col-marge-4 {margin-left: 33.32%;}
.col-marge-5 {margin-left: 41.65%;}
.col-marge-6 {margin-left: 49.98%;}
.col-marge-7 {margin-left: 58.31%;}
.col-marge-8 {margin-left: 66.64%;}
.col-marge-9 {margin-left: 74.97%;}
.col-marge-10 {margin-left: 83.3%;}
.col-marge-11 {margin-left: 91.63%;}
.col-marge-12 {margin-left: 100%;}

.bleu {background: navy; min-height: 100px;}
.rouge {background: orangered; min-height: 100px;}
.orange {background: lightsalmon; min-height: 100px;}
.jaune {background: lightgoldenrodyellow; min-height: 100px;}

/* Cette section sert à gérer la partie responsive du site, on y déclareratoutes les règles associées à des class dans le css afin de pouvoir adapter les valeurs en fonction du device concerné.

    Chaque condition sera déclarée à l'aide de @media "type d'écran : screen, tv, etc" and "si nécessaire" des paramètres supplémentaire encadrés par () et surtout ne pas définir de ";" après une valeur --> voir ci-dessous
*/
@media screen and (max-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {width: 100%;}
    .col-marge-1, .col-marge-2, .col-marge-3, .col-marge-4, .col-marge-5, .col-marge-6, .col-marge-7, .col-marge-8, .col-marge-9, .col-marge-10, .col-marge-11, .col-marge-12 {margin-left: 0;}
}